<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10626631_712127208862692_7687674449597968250_n.jpg?oh=626ddf667b5efb314f150ee9b4200750&oe=55A9188C&__gda__=1433380794_814a956a1a4cb4a43fb98526e42938e2" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">Yuki Asano</a>
    </h3>
</header>

<div id="bio" class="text-center">
	Hi, My name is Yuki :)
</div>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/yuuki1224">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/yuuki1224st">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="mailto:yuuki.1224.softtennis@gmail.com">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
	</ul>
	<ul id="contact-list-secondary" class="list-unstyled list-inline">
		<li>
			<a class="btn btn-default btn-sm" href="http://linkedin.com/pub/yuki-asano/66/164/b89">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<! -- sidebar.html end -->
